
.mycart {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom:0%;
  background-color: white;
  padding: 20%;
  font-size: small;
  color: black;

}
.cartimg {
  width: 35%;

}
.IndivdualProduct{
  display: -webkit-inline-box;
}
