.footer{
    background-color: rgb(138, 162, 170);
    display: flex;
    height: 20rem;
}
.footer-Form{
    display: ;
}
.columna {
    font-size: small;
    padding-inline: 10rem; 
    min-width: max-content  
}
.columnb{
    font-size: small;
    padding-inline: 5rem;
    min-width: max-content
}
.columnc{
    font-size: small;
    padding-left: 5rem;
    min-width: max-content
}
.p{
    font-size: small;
    padding-left: 5rem;
    min-width: max-content 
}
.Form{
  background-color: rgb(164, 164, 238);
  border-color: rgb(164, 164, 238);
  border-right-width: .5rem;
  border-left-width: .5rem;
  border-style: solid;
  border-radius: 0%;
  position: flex;
  margin-left: 1rem;
  border-width: 9rem;
  border-top: 10rem;
  text-align: center;
  


}

    