.Home {
    background-color:rgb(143, 104, 104);
   max-width: ma-content;
    align-content: center;  
}

video{
    margin-left: 70%;
    width: 100px;
    height: 100px;
}
.header0 {
    margin-top: -3%;
}
.header1  {
    font-size: xxx-large;
    font-style: oblique;
    text-align: center; 
   
}
.header2  {
    font-size: xxx-large;
    font-style: oblique;
    text-align: center; 
}

.Pillars {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 20%;
 
    
}
.homeDiv1 {
    width: min-content;
   }
.homeDiv2 {
 width: min-content;
}
.homeDiv3 {
    width: min-content;
}

.puzzleimg {
    height: 300px;
    width: 275px; 
    padding: 1%;   
}
.lostimg {
    height: 300px;
    width: 275px;
    padding: 1%;  
}
.teamimg {
    height: 300px;
    width: 275px;
    padding: 1%; 
     
}

p {
display: table-caption;
width: 25rem;

}
.HomeButton{
    padding: 10px 30px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.HomeButton button:hover {
    background-color: #0056b3;
}

