.Home {
    background-color: rgb(229, 229, 243);
    width: 100%;
    align-content: center;
}
.home.header  {
    font-size: larger;
    font-style: oblique;
    text-align: center;  
}
.Home.main {
    display: flex;
}

h1 {
    font-style: oblique;
    color: black  
}
h2 {
    color: black
}
.Pillars {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    width: .01%
    
}
.homeDiv {
  margin: auto; 

}

.puzzleimg {
    height: 300px;
    width: 275px; 
    padding: 1%;   
}
.lostimg {
    height: 300px;
    width: 275px;
    padding: 1%;  
}
.teamimg {
    height: 300px;
    width: 275px;
    padding: 1%; 
     
}


p {
display: table-caption;
width: 25rem;
}
.HomeButton{
    padding: 10px 30px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.HomeButton button:hover {
    background-color: #0056b3;
}
.main {
  position: flex;
}
