.home > header  {
    font-size: larger;
    font-style: oblique;
    text-align: center;  
}

h1 {
    font-style: oblique;
    color: black  
}
h2 {
    color: black
}
.Pillars {
    font-size: small;
}

.puzzleimg {
    height: 300px;
    width: 275px; 
    padding: 10%;   
}
.lostimg {
    height: 300px;
    width: 275px;
    padding: 10%;  
}
.teamimg {
    height: 300px;
    width: 275px;
    padding: 10%;  
}
div {
    display: inline-block;
}
