
.wrapper {
color: black;
background-color: white;
height: 4710px;

}
.items-container{
 display: grid;
 grid-template-columns: auto auto auto ;
 margin-bottom: 0%;
 row-gap: 1%;
 

    
}
.productItems {
    width: 105%;
    height: 100%;
    font-size: small; 
    background-color:white;
    border-style: double; 
    padding: 1%;
    text-align: center; 
    margin-bottom:;    

}
.ProductImg {
    width: 100px;
    height: 105px;
    
    
}





