.Login {
    width: 1440px;
    height: 700px;
    border-style: double;
    border-color: black;
    color:black;
    position: relative
}
.LoginForm {
   position: absolute; 
   height: 400px;
   background-color: transparent;
   bottom: 35%;
   margin-left: 22%;

}

.loginImg {
  height: 700px;
  width: 1490px;
  margin-bottom:
}