div {
    text-align: center;
    font-size: larger;
    width: 1490px;
    
}
img {
    width: 1490px;
    height: 270px; 
    max-inline-size: none;
}
.Register > form {
    background-color: rgb(191, 233, 234);
    margin: 25rem;
    margin-bottom: 10rem;
    margin-top: 1rem;
    font-style: normal;
    font-size: large;
    display:grid;
    color: black;
    border-color: black;
    border-style: double;
    border-width: 10px;

    
}

