div {
   
    text-align: center;
    font-size: larger;
}
img {
    width: 1450px;
    height: 270px; 
    max-inline-size: none;
}
.Register > form {
    background-color: rgb(191, 233, 234);
    margin: 30rem;
    margin-top: 1rem;
    width: 20rem;
    font-style: normal;
    font-size: large;
    display:grid;
    color: black;
    border-color: black;
    border-style: double;
    border-width: 10px;
    
}
